.img-fluid.img-item {
  max-width: 150px;
  max-height: 150px;
}

.rating_1 i {
  margin-top: 3px;
  width: auto;
  float: left;
  color: #ffa200 !important;
  margin-right: 5px;
}

.rating_2 i{
  margin-top: 3px;
  width: auto;
  float: left;
  color: #dddddd;
  margin-right: 5px;
}

.message-erro{
  text-align: center;
  color: red;
  width: 100%;
}