.img-fluid.img-item {
  max-width: 150px;
  max-height: 150px;
}

.options-style{
  border: 1px solid gray;
  margin-right: 5px;
  border-radius: 4px;
  padding: 3px 10px 3px 10px;
  float: left;
  width: auto;
}

.label-option {
  height: 50px;
} 


