<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Add Product</h5>
                </div>
                <div class="card-body">
                    <div class="row product-adding">
                        <div class="col-lg-4">
                            <div class="add-product">
                                <div class="row">
                                    <div>
                                        <img [src]="fileUpload?.url || 'https://via.placeholder.com/150'" alt=""
                                            class="img-fluid image_zoom_1">
                                    </div>
                                    <div class="mt-3">
                                        <input type="file" class="text-nowrap text-truncate"
                                            (change)="selectFile($event)" />
                                        <button class="btn btn-success btn-sm" [disabled]="!selectedFiles"
                                            (click)="uploadImage()">
                                            Upload
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <form class="needs-validation" [formGroup]="productForm" novalidate autocomplete="off"
                                (ngSubmit)="onSubmit()">
                                <div class="add-product-form">
                                    <div class="form-group row">
                                        <label for="validationCustom01" class="col-xl-3 col-sm-4 mb-0">Name
                                            :</label>
                                        <input class="form-control col-xl-8 col-sm-7" id="validationCustom01"
                                            type="text" [formControl]="productForm.controls['name']" required>
                                        <div *ngIf="productForm.controls.name.touched && productForm.controls.name.errors?.required"
                                            class="text text-danger">
                                            Title Name is required.
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom02" class="col-xl-3 col-sm-4 mb-0">Price :</label>
                                        <input class="form-control col-xl-8 col-sm-7" id="validationCustom02"
                                            type="number" [formControl]="productForm.controls['price']" required="">
                                        <div *ngIf="productForm.controls.price.touched && productForm.controls.price.errors?.required"
                                            class="text text-danger">
                                            Product Price is required.
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0">Category
                                            :</label>
                                        <select class="form-control digits col-xl-8 col-sm-7"
                                            id="exampleFormControlSelect1"
                                            [formControl]="productForm.controls['categoryId']">
                                            <option value="11e06484-b99d-48f1-80a5-90dd2082ca6d">Quần áo</option>
                                            <option value="789e170e-ac90-41ee-830d-3e9e6f59d3e0">Giày dép</option>
                                            <option value="889296ef-fca9-4f12-a2d8-a2a8bba0e5f1">Điện thoại</option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-sm-4">Description :</label>
                                        <div class="col-xl-8 col-sm-7 pl-0 description-sm">
                                            <textarea name="editor1" [(ngModel)]="descriptionValue"
                                                [ngModelOptions]="{standalone: true}" rows="4" cols="50">
                                            </textarea>
                                        </div>
                                    </div>

                                </div>
                            </form>
                            <div class="form-group row mb-0">
                                <div class="product-buttons col-sm-8 offset-xl-3 offset-sm-4">
                                    <button type="button" class="btn btn-primary mr-1" (click)="onSubmit()">Add</button>
                                    <button type="button" class="btn btn-light">Discard</button>
                                </div>
                            </div>
                            <!-- <pre>{{ productForm.value | json }}</pre> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
