<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Category Details</h5>
                </div>
                <div class="card-body tab2-card">
                    <label for="name" class="col-xl-3 col-md-4 mt-2">Name: {{name}}</label>
                </div>
                <label id="title-property">List Property</label>
                <ng2-smart-table [settings]="settings" [source]="properties">
                </ng2-smart-table>
            </div>
        </div>
    </div>
</div>