<div class="container-fluid">
    <div class="card">
        <div class="row product-page-main card-body">
            <div class="col-xl-4">
                <!-- <section>
                    <ks-carousel [id]="100" [images]="imagesRect" [dotsConfig]="{visible: false}"
                        [carouselConfig]="{maxHeight: '600px', keyboardEnable: true}"
                        [previewConfig]="{maxHeight: '125px'}">
                    </ks-carousel>
                </section> -->
                <img [src]="product?.photos[0] ? product.photos[0].url : ''" alt="" s style="width: 100%">

            </div>
            <div class="col-xl-8">
                <div class="product-page-details product-right mb-0">
                    <h2>{{product?.name}}</h2>
                    <ngb-rating [rate]="4" class="rating-size-product"></ngb-rating>
                    <hr>
                    <h6 class="product-title">product details</h6>
                    <p class="mb-0">{{product?.description}}</p>
                    <h6 class="product-title">price</h6>
                    <div class="product-price digits mt-2">
                        <h3>{{product?.price | currency:"VND"}}</h3>
                    </div>
                    <hr>
                    <div class="border-product">
                        <div class="container" *ngFor="let l of labels">
                            <label>{{l.label}}</label>
                            <div class="label-option">
                                <div *ngFor="let o of l.options">
                                    <label class="options-style">{{o}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                </div>
            </div>
        </div>
    </div>
</div>