<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-warning card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons
                                    [icon]="'navigation'"
                                    class="font-warning"
                                ></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8">
                            <span class="m-0">Earnings</span>
                            <h3 class="mb-0">
                                $
                                <span
                                    class="counter"
                                    [CountTo]="sumEarnings"
                                    [from]="0"
                                    [duration]="2"
                                    >{{ sumEarnings }}</span
                                ><small> This Month</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-secondary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons
                                    [icon]="'box'"
                                    class="font-secondary"
                                ></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8">
                            <span class="m-0">Products</span>
                            <h3 class="mb-0">
                                <span
                                    class="counter"
                                    [CountTo]="countProduct"
                                    [from]="0"
                                    [duration]="2"
                                    >{{ countProduct }}</span
                                ><small> This Month</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-primary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons
                                    [icon]="'message-square'"
                                    class="font-primary"
                                ></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8">
                            <span class="m-0">Messages</span>
                            <h3 class="mb-0">
                                <span
                                    class="counter"
                                    [CountTo]="countUser"
                                    [from]="0"
                                    [duration]="2"
                                    >{{ countUser }}</span
                                ><small> This Month</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-danger card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons
                                    [icon]="'users'"
                                    class="font-danger"
                                ></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8">
                            <span class="m-0">New Users</span>
                            <h3 class="mb-0">
                                <span
                                    class="counter"
                                    [CountTo]="countComment"
                                    [from]="0"
                                    [duration]="2"
                                    >{{ countComment }}</span
                                ><small> This Month</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
